
<%= form_with(model: comment, local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
   <div class="row">
    <div class="col-md-3">
      <h6><strong>メニュー</strong></h6>
    </div>
    <div class="col-md-9">
      <h6><%= form.text_field :menu, class: 'form-control', :size=>"35" %></h6>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3">
      <h6><strong>コメント</strong></h6>
    </div>
    <div class="col-md-9">
      <h6><%= form.text_area :body, class: 'form-control', :size=>"38x10" %></h6>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h6><strong>写真</strong></h6>
    </div>
    <div class="col-md-9">
      <%= form.file_field :image %>
    </div>
  </div>
  
  <%= form.hidden_field :store_id %>

  </br>
  
  <div class="actions text-center">
    <%= form.submit :投稿, class: 'btn btn-primary' %>
 
  </div>
  
  
<% end %>