<%= form_with(model: comment, local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
   <div class="row">
    <div class="col-md-3">
      <strong>メニュー</strong>
    </div>
    <div class="col-md-9">
      <%= form.text_field :menu, :size=>"50" %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3">
      <strong>コメント</strong>
    </div>
    <div class="col-md-9">
      <%= form.text_area :body, :size=>"50x10" %>
    </div>
  </div>
  
  <%= form.hidden_field :store_id %>

  </br>
  
  <div class="actions text-center">
    <%= form.submit :投稿, class: 'btn btn-primary' %>
 
  </div>
  
  
<% end %>
