<div id="whole" class="" style="padding: 50px 0px;">
 <div class="center jumbotron">
  <div>
    <div class="text-center" style="padding: 50px;">
      <h2>新着レビュー</h2>
    </div>
    
  </div>

  <p id="notice"><%= notice %></p>
  
  <div class="card mb-3">
    <div class="row no-gutters">
        
       <% @comments.each do |comment| %>
       
       
        <div class="col-md-4 my-auto">
            <% if comment.image? %>
            <%= image_tag comment.image.url, :size =>'130x100' %>
            <% end %>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= comment.menu %></h5>
                <p><%= comment.body %></p>
                
                
                <%= link_to 'レビュー詳細', comment, class: 'btn btn-primary' %>
                
                <hr>
                
            </div>
        </div>
        
    
        <% end %>
        
        <%= paginate @comments %>
        
     </div>
  </div>
  
 </div>
</div>
 
 


 <br>

 </div>
</div>


<br>


  </div>
</div>
