<p id="notice"><%= notice %></p>

<p>
  <strong>Menu:</strong>
  <%= @comment.menu %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<p>
  <strong>Store:</strong>
  <%= @comment.store %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
