<div id="whole" class="" style="padding: 50px 0px;">
 <div class="center jumbotron">
  <div class="text-center" style="padding: 50px;">
    <h2>レビュー詳細</h2>
  </div>

　<p id="notice"><%= notice %></p>
　
　<div class="card mb-3">
     <div class="container no-gutters">
        <div class="row">
           <div class="col-md-3">
               <h5><strong>メニュー</strong></h5>
           </div>
           <div class="col-md-9">
               <h5><%= @comment.menu %></h5>
           </div>
        </div>
        
        </br>
        
        <div class="row">
           <div class="col-md-3">
               <h5><strong>コメント</strong></h5>
           </div>
           <div class="col-md-9">
               <h5><%= simple_format(@comment.body) %></h5>
           </div>
        </div>
        
        </br>
        
        <div class="row">
           <div class="col-md-3">
               <h5><strong>写真</strong></h5>
           </div>
           <div class="col-md-9">
               <% if @comment.image? %>
               <%= image_tag @comment.image.url, :size =>'200x200' %>
               <% end %>
           </div>
        </div>
        
        </br>
        
    </div>
  </div>
  
  <br>
  
  <% if logged_in? %>
  <div class="text-center">
     <%= link_to 'レビュー修正', edit_comment_path(@comment), class: 'btn btn-primary' %>
  </div>
  <% end %>
  </br>
  <div class="text-center">
     <%= link_to '戻る', comments_path, class: 'btn btn-primary' %>
  </div>



 </div>
</div>
