<%= form_with(model: store, local: true) do |form| %>
  <% if store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
      <% store.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="row">
    <div class="col-md-3">
      <h6><strong>店名</strong></h6>
    </div>
    <div class="col-md-9">
      <%= form.text_field :name, :size=>"35" %>
    </div>
  </div>
  
  </br>

  <div class="row">
    <div class="col-md-3">
      <h6><strong>住所</strong></h6>
    </div>
    <div class="col-md-9">
      <%= form.text_field :address, :size=>"35" %>
    </div>
  </div>
  
  </br>

  <div class="row">
    <div class="col-md-3">
      <h6><strong>情報</strong></h6>
    </div>
    <div class="col-md-9">
      <%= form.text_area :infomation, :size=>"38x10" %>
    </div>
  </div>
  
  </br>

  <div class="row">
    <div class="col-md-3">
      <h6><strong>写真</strong></h6>
    </div>
    <div class="col-md-9">
      
      <%= form.file_field :image %>
    </div>
  </div>

  </br>

  <div class="actions text-center">
    <%= form.submit :登録, class: 'btn btn-primary' %>
 
    <%= link_to '削除', store, method: :delete, data: { confirm: '削除しますか？' }, class: 'btn btn-danger' %>
  </div>
  
  <div class="text-center">
    <%= link_to '戻る', stores_path, class: 'btn btn-primary' %>
  </div>
  
  
<% end %>
