<ul class="list-unstyled">
    
  <% stores.each do |store| %>
      <li><%= store.name %></li> 
      <li><%= store.address %></li> 
      <li><%= store.infomation %></li> 
      
     
      
      <% if current_user == store.user %>
          <%= link_to "Delete", store, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger' %>
      <% end %>
  <% end %>    
 
    
    <%= paginate stores %>
</ul>