<div>
  
  <% stores.each do |store| %>
  <div class="">
    <div class="container">
      <h5>店名：<%= store.name %></h5> 
      <h5>住所：<%= store.address %></h5>
      <h5>情報：<%= store.infomation %></h5>
      <hr>
    </div>
      
  </div>
  
  <% if current_user == store.user %>
      <div class="text-right">
        <%= link_to '店舗詳細', store, class: 'btn btn-primary' %>
      </div>
  <% end %>
  <% end %>  
  
    <%= paginate stores %>
</div>