<ul class="list-unstyled">
    <% stores.each do |store| %>
       <li class="media mb-3">
           <img class="mr-2 rounded" src="<%= gravatar_url(store.user, { size: 50 }) %>" alt="">
           <div class="media-body">
               <div>
                   <%= link_to store.user.name, user_path(store.user) %> <span class="text-muted">posted at <%= store.created_at %></span>
               </div>
               <div>
                   <p><%= store.content %></p>
               </div>
                   <%= render 'favorites/favorites_button', store: store %>
               <div>
                   <% if current_user == store.user %>
                    <%= link_to "Delete", store, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger' %>
                   <% end %>
               </div>
           </div>
       </li>
    <% end %>
    <%= paginate stores %>
</ul>