<div id="whole" class="" style="padding: 50px 0px;">
 <div class="center jumbotron">
  <div class="text-center" style="padding: 50px;">
    <h2>店舗詳細</h2>
  </div>

  <p id="notice"><%= notice %></p>

 
  <div class="card mb-3">
     <div class="container no-gutters">
        <div class="row">
           <div class="col-md-3">
              <strong>店名</strong>
           </div>
           <div class="col-md-9">
              <%= @store.name %>
           </div>
        </div>
        
        </br>
        
        <div class="row">
           <div class="col-md-3">
              <strong>住所</strong>
           </div>
           <div class="col-md-9">
               <%= @store.address %>
           </div>
        </div>
        
        </br>
        
        <div class="row">
           <div class="col-md-3">
              <strong>情報</strong>
           </div>
           <div class="col-md-9">
               <%= simple_format(@store.infomation) %>
           </div>
        </div>
        
        </br>
        
        <div class="row">
           <div class="col-md-3">
              <strong>写真</strong>
           </div>
           <div class="col-md-9">
               <%= @store.image %>
           </div>
        </div>
    </div>
  </div>
  
  <div class="card mb-3">
     <div class="container no-gutters">
         
         <div class="text-center">
           <h5>レビュー</h5>
         </div>
         
         <br>
         
         <% @comments.each do |comment| %>
         
         <div>
           <strong>メニュー</strong>
           <%= comment.menu %>
         </div>
         
         </br>
         
         <div>
           <strong>コメント</strong>
           <%= comment.body %>
         </div>
         
         <div class="text-right">
         <%= link_to '削除', comment_path(comment), method: :delete, data: { confirm: '削除しますか？' }, class: 'btn btn-danger' %>
         </div>
         
         <hr>
         
         <% end %>
         
         </br>
         </br>
         </br>
         
         <div class="text-center">
           <h5>投稿フォーム</h5>
         </div>
         
         <br>
         
         <%= render 'comments/form', comment: @comment %>
         
         <br>
         
       </div>
       
       
     </div>
  

  
<!--<p>-->
<!--  <strong>Name:</strong>-->
<!--  <%= @store.name %>-->
<!--</p>-->
<!--<p>-->
<!--  <strong>Address:</strong>-->
<!--  <%= @store.address %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>Infomation:</strong>-->
<!--  <%= @store.infomation %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>Image:</strong>-->
<!--  <%= @store.image %>-->
<!--</p>-->

<!--#フォローボタン-->
<div class="text-center">
    <div class="btn">
    <%= render 'favorites/follow_button', store: @store %>
    </div>
</div>
</br>
<div class="text-center">
  <%= link_to '店舗情報修正', edit_store_path(@store), class: 'btn btn-primary' %> 
</div>
</br>
<div class="text-center">
  <%= link_to '戻る', stores_path, class: 'btn btn-primary' %>
</div>


 </div>
</div>
