<div id="whole" class="" style="padding: 50px 0px;">
 <div class="center jumbotron">
  <div class="text-center" style="padding: 50px;">
    <h2>ユーザー登録</h2>
  </div>

  <div class="row">
    <div>
      
     <%= form_with(model: @user, local: true) do |f| %>
     
      <div class="form-group row">
       <div class="col-md-4">
        <h6><%= f.label :name, 'ニックネーム' %></h6>
       </div>
       <div class="col-md-8">
        <%= f.text_field :name, class: 'form-control', :size=>"80" %>
       </div>
     </div>

      <div class="form-group row">
       <div class="col-md-4">
        <h6><%= f.label :email, 'メールアドレス' %></h6>
       </div>
       <div class="col-md-8">
        <%= f.email_field :email, class: 'form-control', :size=>"80" %>
       </div>
      </div>

      <div class="form-group row">
          <div class="col-md-4">
             <h6><%= f.label :password, 'パスワード' %></h6>
          </div>
          <div class="col-md-8">
             <%= f.password_field :password, class: 'form-control', :size=>"80" %>
          </div>
      </div>

      <div class="form-group row">
          <div class="col-md-4">
             <h6><%= f.label :password_confirmation, 'パスワード確認用' %></h6>
          </div>
          <div class="col-md-8">
             <%= f.password_field :password_confirmation, class: 'form-control', :size=>"80" %>
          </div>
      </div>
      
      <div class="text-center">
          <%= f.submit '作成', class: 'btn btn-primary btn-large active' %>
      </div>
     <% end %>
        
    </div>
    
    
  </div>
 </div>
</div>
<div id="footer" class="text-center mb-5">
  <a class="" href="/">お問い合わせ</a>
  <br></br>
  <p>@ Takuya</p>
</div>