<div id="whole" class="" style="padding: 50px 0px;">
 <div class="center jumbotron">
  <div class="text-center" style="padding: 50px;">
    <h2>レビュー投稿</h2>
  </div>
  
  <%= render 'form', review: @review %>



  <!--<div class="row">-->
  <!--  <div>-->
      
     <!--<%= form_with(model: @user, local: true) do |f| %>-->

     <!-- <div class="form-group row">-->
     <!--  <div class="col-md-4">-->
     <!--   <%= f.label :menu, 'メニュー' %>-->
     <!--  </div>-->
     <!--  <div class="col-md-8">-->
     <!--   <%= f.text_field :menu, class: 'form-control', :size=>"80" %>-->
     <!--  </div>-->
     <!--</div>-->

     <!-- <div class="form-group row">-->
     <!--     <div class="col-md-4">-->
     <!--        <%= f.label :comment, 'コメント' %>-->
     <!--     </div>-->
     <!--     <div class="col-md-8">-->
     <!--        <%= f.text_area :comment, :placeholder =>"メニューへのコメント：" ,class: 'form-control', :size=>"80x10" %>-->
     <!--     </div>-->
     <!-- </div>-->

     <!-- <div class="form-group row">-->
     <!--     <div class="col-md-4">-->
     <!--        <%= f.label :image, '写真' %>-->
     <!--     </div>-->
     <!--     <div class="col-md-8">-->
     <!--        <%= f.file_field :image, class: '' %>-->
     <!--     </div>-->
     <!-- </div>-->
      
     <!-- <div class="text-center">-->
     <!--     <%= f.submit '投稿', class: 'btn btn-primary btn-large active' %>-->
     <!-- </div>-->
     <% end %>
        
  <!--  </div>-->
  <!--</div>-->
  
 </div>
</div>

<div id="footer" class="text-center mb-5">
  <a class="" href="/">お問い合わせ</a>
  <br></br>
  <p>@ Takuya</p>
</div>

