<div id="whole" class="" style="padding: 50px 0px;">
 <div class="center jumbotron">
  <div class="text-center" style="padding: 50px;">
    <h2>レビュー詳細</h2>
  </div>
  

<p id="notice"><%= notice %></p>

<p>
  <strong>Menu:</strong>
  <%= @review.menu %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @review.comment %>
</p>

<p>
  <strong>Image:</strong>
  <%= @review.image %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>


 </div>
</div>